.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

.vscode/
.code-workspace

.DS_Store

*.log
